$gutter: 30px;
$gutter-margin: ($gutter / 2);
/***************************
****************************
Layout Styles
****************************
***************************/

/* Content Container*/

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Row */

.row {
  margin-right: -($gutter-margin);
  margin-left: -($gutter-margin);
}

/* Row Clear Float*/

.row:after {
  content: "";
  display: table;
  clear: both;
}

.login {
  @include flexbox-display();
  flex-flow: row wrap;
  justify-content: space-around;
}

.newitem,
.itemslist,
.centered {
  @include flexbox-display();
  flex-flow: column wrap;
  align-items: center;
}

.item-row {
  min-width: 400px;
  max-width: 800px;
  border: 1px;
  border-color: $color1;
  margin-top: 16px;
}

.item-data {
  @include flexbox-display();
  flex-flow: row nowrap;
  justify-content: space-between;
}

.item-title {
  font-size: 1.0em;
  font-weight: bold;
}

.item-metadata {
  font-size: 0.75em;
  font-style: italic;
}