/***************************
Header
***************************/

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

header {
    background: $header-color;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}