/***************************
Header
***************************/

header {
    margin-bottom: 20px;
    .container {
        margin-right: -($gutter-margin);
        margin-left: -($gutter-margin);
    }
}

.header-primary {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    .container {
        @include flexbox-display();
    }
}

